{% extends "forms/profile.html" %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='user/profile.css')}}">
	{{ super() }}
{% endblock %}

{% block script %}
    <script text="javascript" src="{{url_for('static', filename='snippets/api_interface.js')}}"></script>
    <script charset="utf-8">

        var location_id = '{{ user.location_id|tojson }}'
        var doc_type_id = '{{ user.doc_type_id|tojson }}'

        getLocalityWithId(location_id).then(function(result) {
            $('#location').text(result)
        });

        getDocumentTypeWithId(doc_type_id).then(function(result) {
            $('#doc-type').text(result)
        });

    </script>
{% endblock %}

{% block profile_name %}
    {{ user.last_name }}, {{ user.first_name }}
{% endblock %}

{% block profile_attributes %}

    {% block head_content %} {% endblock %}
    
    <h4><span class="title subtitle">Activo</span></h4>
    <i class="fa fa-{{ 'check text-success' if (user.is_active) else 'times text-danger' }} user-active" active={{ user.is_active|int }}></i>

    <h4><span class="title subtitle">Fecha de nacimiento</span></h4>
    <span class="information">{{ user.birth_date }}</span>

    <h4><span class="title subtitle">Dirección</span></h4>
    <span class="information"><span id="location"></span> - {{ user.residency }}</span>

    <h4><span class="title subtitle">Género</span></h4>
    <span class="information">{{ user.gender.name }}</span>

    <h4><span class="title subtitle">Documento</span></h4>
    <span class="information"><span id="doc-type"></span>: {{ user.doc_number }} </span>

    <h4><span class="title subtitle">Teléfono</span></h4>
    <span class="information">{{ user.telephone }}</span>

    {% block extra_content %} {% endblock extra_content %}

    {% block buttons %} {% endblock buttons %}


{% endblock %}
