{% extends "sections_base.html" %}

{% block meta %}
	{{super()}}
	<meta id="pagination" name="elements" data-pagination="{{config.pagination}}">
{% endblock %}

{% block font %}
	{{super()}}
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
{% endblock %}

{% block style %}
	{{super()}}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='forms/index.css')}}">
{% endblock %}

{% block script %}
	{{super()}}
	<script src="{{url_for('static', filename='instrument/index.js')}}"></script>
{% endblock %}

{% block content %}
	<div class="row d-flex justify-content-center" id="list-container">
		<div class="col-12 text-center p-2 title">
			<h2>
				Listado de Instrumentos
			</h2>
		</div>
		<div class="col-12">
			<div class="px-0 bg-light rounded rounded-pill shadow-sm col-12 my-2" id="search-container">
				<div class="input-group">
					<input type="search" placeholder="Buscar instrumento" class="form-control border-0 rounded-pill rounded" id="search" v-model="instrumentNameFilter">
					<div class="input-group-append">
						<button class="btn btn-light text-primary rounded-pill" id="search-button" @click="clearInstrumentNameFilter"><i class="fa fa-times"></i></button>
					</div>
				</div>
			</div>
			<div class="col-12">
				<small id="result"></small>
			</div>
			<div class="col-12 my-4" id="filters-container">
				<div class="list-subtitle">
					<h5>Filtrar</h5>
				</div>
				<div class="col-10 col-off-2">
					<div class="custom-control custom-radio">
						<input type="radio" class="custom-control-input" name="radio-active" value="all" id="all-checkbox" v-model="instrumentStateFilter">
						<label class="custom-control-label" for="all-checkbox" id="label-user-all">Mostrar todo</label>
					</div>
					<div class="custom-control custom-radio">
						<input type="radio" class="custom-control-input" name="radio-active" value="1" id="active-checkbox" v-model="instrumentStateFilter">
						<label class="custom-control-label" for="active-checkbox" id="label-user-active">Mostrar sólo activos</label>
					</div>
					<div class="custom-control custom-radio">
						<input type="radio" class="custom-control-input" name="radio-active" value="0" id="inactive-checkbox" v-model="instrumentStateFilter">
						<label class="custom-control-label" for="inactive-checkbox" id="label-user-inactive">Mostrar sólo inactivos</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 table-responsive my-3" id="table-container">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Número</th>
						<th scope="col">Nombre</th>
						<th scope="col" class="text-center">Activo</th>
						<th scope="col" class="text-center">Opciones</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(instrument, index) in pagedInstruments" :key="index" class="item-row">
						<th scope="row" class="inventory-number">[[ instrument.inventory_number ]]</th>
						<td scope="row" class="name">[[ instrument.name ]]</td>
						<td class="text-center">
							<i :class="['fa', instrument.is_active ? 'fa-check text-success' : 'fa-times text-danger', 'td-active']" :active="instrument.is_active"></i>
						</td>
						<td scope="row" class="text-center">
							<div class="dropdown">
								<button type="button" class="white-button btn-sm dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fa fa-cog"></i>
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" :href="'{{ url_for('instrument_profile', instrument_id='') }}' + instrument.id"><i class="fa fa-user"></i> Ver detalle</a>
									<a class="dropdown-item" :href="'{{ url_for('instrument_edit', instrument_id='') }}' + instrument.id"><i class="fa fa-edit"></i> Modificar datos</a>
									<button type="submit" @click="switchInstrumentStatus(instrument.id)" class="dropdown-item">
										<span v-if="instrument.is_active"><i class="fa fa-ban"></i> Deshabilitar</span>
										<span v-else><i class="fa fa-check"></i> Habilitar</span>
									</button>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
		</table>
	</div>
	<div class="col-12" id="pagination-container">
		<nav class="d-flex justify-content-center">
		<ul class="pagination" id="pagination">
			<li :class="['page-item', 'prev', currentPage == 1 ? 'disabled' : '' ]">
				<a class="page-link" href="#" @click="goToPreviousPage"><</a>
			</li>
			<li v-for="(pageNumber, index) in maxPages" :key="index" :class="['page-item', currentPage == pageNumber ? 'active' : '']">
				<a class="page-link" href="#" @click="goToPage(pageNumber)">[[ pageNumber ]]</a>
			</li>
			<li :class="['page-item', 'next', currentPage == maxPages ? 'disabled' : '' ]">
				<a class="page-link" href="#" @click="goToNextPage">></a>
			</li>
		</ul>
	</nav>
</div>
</div>
{% endblock %}