{% extends "instrument/form.html" %}

{% block script %}
	{{super()}}
	<script src="{{url_for('static', filename='instrument/image.js')}}"></script>	
{% endblock %}

{% block form_title %}
	Agregar instrumento
{% endblock %}

{% block image %}
    <div class="custom-file">
		<input type="file" name="image" class="custom-file-input" id="image-input" required accept="image/*"/>
		<label class="custom-file-label" for="image">Elegir archivo</label>
		<div class="invalid-feedback">Formato inválido de archivo</div>
	</div>
{% endblock %}
