{% extends "teacher/index.html" %}

{% block index_title %}
	Listado de Responsables del alumno 
	<a href="{{url_for('student_profile', student_id=student.id)}}"> {{student.first_name}}, {{student.last_name}} </a> 
{% endblock %}

{% block placeholder %}Buscar responsable{% endblock %}

{% block section_buttons %}
    <a class="white-button mr-2" id="teacher-list-button" href="{{ url_for('student_assign_responsable', student_id=student.id) }}">
      <i class="fa fa-list"></i> Agregar responsable
    </a>
{% endblock %}

{% block table_body %}
	{% for responsable in student.responsables %}
	<tr class="item-row">
		<th scope="row" class="first-name">{{ responsable.first_name }}</th>
		<th scope="row" class="last-name">{{ responsable.last_name }}</th>
		<td class="text-center">
			<i class="fa fa-{{'check text-success' if (responsable.is_active) else 'times text-danger'}} td-active" active={{responsable.is_active|int}}></i>
		</td>
		<td scope="row" class="text-center">
			<div class="dropdown">
				<button type="button" class="white-button btn-sm dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-cog"></i>
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="{{url_for('responsable_profile', responsable_id=responsable.id)}}"><i class="fa fa-user"></i> Ver detalle</a>
					<a class="dropdown-item" href="{{url_for('responsable_edit', responsable_id=responsable.id)}}"><i class="fa fa-edit"></i> Modificar datos</a>
					{% if responsable.is_active %}
						<form class="deactivate" action="{{url_for('deactivate_responsable', responsable_id=responsable.id)}}" method="post">
							<button type="submit" class="dropdown-item">
								<i class="fa fa-ban"></i> Deshabilitar
							</button>
						</form>
					{% else %}
						<form class="activate" action="{{url_for('activate_responsable', responsable_id=responsable.id)}}" method="post">
							<button type="submit" class="dropdown-item">
								<i class="fa fa-check"></i> Activar
							</button>
						</form>					    
					{% endif %}
				</div>
			</div>
		</td>
	</tr>
	{% endfor %}
{% endblock %}