body {
	height: 100vh;
	width: 100vw;
}

.blue-button:hover {
	background-color: white!important;
	color: #1a91a1;
}

.blue-button {
	background-color: #1a91a1;
	border: 1px solid white;
	color: white;
	padding: 5px 15px 5px 15px;
	border-radius: 5px;
}

.white-button:hover {
	background-color: #f3f3f3!important;
}

.white-button {
	background-color: white;
	border: 1px solid #1a91a1;
	color: black;
	padding: 5px 15px 5px 15px;
	border-radius: 5px;
}

.messages {
  	position: absolute;
  	right: 2em;
  	bottom: 2em;
}
