body {
	height: 100vh;
	width: 100vw;
}

.social-icon {
    font-size: 30px;
    color: #444;
}

.social-icon:hover {
    color: #ccc;
}

#right-container {
	position: relative;
	z-index: 1;
}

#right-container::before{
    transform: skew(10deg);
    content: "";
    z-index: -1;
    position: absolute;
    left: -100px;
    height: 100%;
    border: 110px solid #3c7bff;
}

.carousel-item img {
	height: 100%;
}
