{% extends "sections_base.html" %}

{% block style %}
	{{super()}}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='map/map.css')}}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
{% endblock style %}

{% block script %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script text="javascript" src="{{url_for('static', filename='map/map.js')}}" defer></script>
{% endblock script %}


{% block content %}

   <div id="map"></div>

{% endblock content %}
