<!DOCTYPE html>
<html lang="es">
	<head>
		<title>{{ config.title }}</title>

		<!-- Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		{% block meta %} {% endblock %}

		<!-- Fonts -->
		{% block font %} {% endblock %}

		<!-- Styles -->
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='base.css')}}">
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		{% block style %} {% endblock %}

		<!-- Scripts -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		{% block script %} {% endblock %}
	</head>

	<body>
		{% block body %}

		{% endblock %}

        <div class="messages">
          {% include "forms/messages.html" %}
        </div>

	</body>
</html>
