{% extends "forms/index.html" %}

{% block script %}
	{{ super() }}
	<script src="{{url_for('static', filename='user/search.js')}}"></script>
	<script src="{{url_for('static', filename='user/index.js')}}"></script>
{% endblock %}

{% block search_placeholder %}Buscar usuario{% endblock %}

{% block filters %}
	<div class="list-subtitle">
		<h5>Filtrar</h5>
	</div>
	<div class="col-10 col-off-2">
		<div class="custom-control custom-radio">
			<input type="radio" class="custom-control-input" name="radio-active" id="active-checkbox">
			<label class="custom-control-label" for="active-checkbox" id="label-user-active">Mostrar sólo usuarios activos</label>
		</div>
		<div class="custom-control custom-radio">
			<input type="radio" class="custom-control-input" name="radio-active" id="inactive-checkbox">
			<label class="custom-control-label" for="inactive-checkbox" id="label-user-inactive">Mostrar sólo usuarios inactivos</label>
		</div>
	</div>
{% endblock %}

{% block table_head %}
	<th scope="col">Usuario</th>
	<th scope="col">Email</th>
	<th scope="col">Nombres</th>
	<th scope="col">Apellidos</th>
	<th scope="col" class="text-center">
		Activo
	</th>
	<th scope="col" class="text-center">
		Opciones
	</th>
{% endblock %}

{% block table_body %}
	{% for user in users %}
		<tr class="item-row">
			<th scope="row" class="username">{{ user.username }}</th>
			<td>{{ user.email }}</td>
			<td class="name">{{ user.first_name }}</td>
			<td class="surname">{{ user.last_name }}</td>
			<td class="text-center">
				<i class="fa fa-{{'check text-success' if (user.is_active) else 'times text-danger'}} user-active" active={{user.is_active|int}}></i>
			</td>
			<td class="text-center">
				<div class="dropdown">
					<button class="white-button btn-sm dropdown-toggle" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-cog"></i>
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
						<a class="dropdown-item" href="{{ url_for('user_profile', user_id=user.id) }}"><i class="fa fa-user"></i> Ver perfil</a>
						<a class="dropdown-item" href="{{ url_for('user_edit', user_id=user.id) }}"><i class="fa fa-edit"></i> Modificar perfil</a>
						{% if (user.is_active) %}
							<a class="dropdown-item deactivate {{'disabled' if (user.id==current_user.id)}}" href="{{ url_for('deactivate_user', user_id=user.id) }}"><i class="fa fa-ban"></i> Deshabilitar usuario</a>
						{% else %}
							<a class="dropdown-item activate {{'disabled' if (user.id==current_user.id)}}" href="{{ url_for('activate_user', user_id=user.id) }}"><i class="fa fa-check"></i> Habilitar usuario</a>
						{% endif %}
					</div>
				</div>
			</td>
		</tr>
	{% endfor %}
{% endblock %}