{% extends "sections_base.html" %}

{% block content %}
	<div class="row d-flex">
		<h1>Registrar usuario</h1>
	</div>

	<div class="col-12">
		<form method="post" action="/usuarios">
			<div>
				<input type="text" name="username" required placeholder="Nombre de usuario" value="{{user.username}}">
			</div>
			<div>
				<input type="email" name="email" required placeholder="Email" value="{{user.email}}">
			</div>
			<div>
				<input type="password" name="" required placeholder="Contraseña" value="{{user.password}}">
			</div>
			<div>
				<input type="password" name="password" required placeholder="Confirmar contraseña">
			</div>
			<div>
				<input type="text" name="first_name" required placeholder="Nombres" value="{{user.first_name}}">
			</div>
			<div>
				<input type="text" name="last_name" required placeholder="Apellidos" value="{{user.last_name}}">
			</div>
			{% for rol in roles %}
				<div>
					<label>
						<input {% if rol.name in user.roles %} checked {% endif%} type="checkbox" name="roles" value="{{rol.name}}">
						{{rol.name}}
					</label>
				</div>
			{% endfor %}
			<div>
				<button type="submit">Guardar</button>
			</div>
		</form>
	</div>


{% endblock %}