{% extends "user/form.html" %}

{% block form_title %}
	Crear usuario
{% endblock %}

{% block post_url %}
	{{ url_for('user_create') }}
{% endblock %}

{% block password %}
	<div class="form-group">
		<label for="password-input">Contraseña</label>
		<input id="password-input" class="form-control" type="password" name="" required placeholder="Contraseña">
	</div>
	<div class="form-group">
		<label for="confirm-password-input">Confirmar contraseña</label>
		<input id="confirm-password-input" class="form-control" type="password" name="password" required placeholder="Confirmar contraseña">
		<small class="text-danger" id="confirm-password-error"></small>
	</div>
{% endblock %}