#list-container {
	background-color: #ebf9ff;
  	border-radius: 1em;
  	border: 1px solid #d3dadc;
}

.title {
    font-family: Quicksand;
    border-bottom: 1px solid #d3dadc;
}

#search-container {
  	border: 1px solid #d3dadc;
}

.list-subtitle {
	color: #3191a1;
}

#filters-container {
	border-top: 1px solid #d3dadc;
	padding-top: 1rem;
	font-family: Quicksand;
}

#label-user-active {
	user-select: none;
}

#table-container {
	font-family: Open Sans;
	color: black;
}

.page {
	display: none;
}
.page-active {
  	display: table-row-group;
}

#pagination-container {
	border-top: 1px solid #d3dadc;
	padding-top: 1rem;	
}

thead {
	background-color: #3191a1;
    color: white;
}

tbody {
	background-color: #b8d7e4;
}
