<section id="in-maintenance-container">
    <img src="{{url_for('static', filename='home/images/maintenance/violin.png')}}" alt="Violin" id="violin-image">
    <h1><span class="in-maintenance-information">Sitio en Mantenimiento!</span></h1>
    <h5><span class="in-maintenance-information">Disculpe las molestias.</span></h5>
    <div id="in-maintenance-login-redirect">
        <button type="button" class="m-auto px-2 py-1">
            <a class="d-flex" href="#right-container">
                Iniciar sesión
            </a>
        </button>
    </div>
</section>