<!-- Header -->
<header class="row h-25 d-flex justify-content-center" id="header-info">

		<!-- Logo -->
		<div class="col-8 p-3 h-75 d-flex justify-content-center">
			<img class="h-100" src="{{url_for('static', filename='home/images/logo/logo.png')}}" alt="Logo de la Orquesta Escuela">
		</div>

		<!-- Social -->
		<div class="col-12 h-25 p-2 d-flex justify-content-center" id="social-container"> 
			<div class="col-md-6 d-flex justify-content-center p-1 m-auto">
				<div class="col-2 d-flex">
					<a class="m-auto" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/OrquestaEscuelaBerisso/">
						<i class="my-auto fab fa-facebook-square social-icon"></i>
					</a>
				</div>
				<div class="col-2 d-flex">
					<a class="m-auto" target="_blank" rel="noopener noreferrer" href="http://www.oeberisso.com.ar/">
						<i class="my-auto fas fa-globe social-icon"></i>
					</a>
				</div>

				<!-- Login redirect -->
				<div class="col-4 d-flex justify-content-center" id="login-redirect">
					<button type="button" class="m-auto px-2 py-1">
						<a class="d-flex" href="#right-container">
							Iniciar sesión
						</a>
					</button>
				</div>

				<div class="col-2 d-flex">
					<a class="m-auto" target="_blank" rel="noopener noreferrer" href="https://twitter.com/oeberisso/">
						<i class="my-auto fab fa-twitter-square social-icon"></i>
					</a>
				</div>
				<div class="col-2 d-flex">
					<a class="m-auto" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/orquesta_escuela_berisso/">
						<i class="fab fa-instagram social-icon"></i>
					</a>
				</div>
			</div>
		</div>
</header>

<!-- Carousel -->
<div class="row h-75" id="carousel">

	<div class="carousel slide h-100 w-100 text-center" data-ride="carousel">

		<!-- Images -->
		<div class="carousel-inner h-100 d-flex">
			<div class="carousel-item active">
				<img src="{{url_for('static', filename='home/images/carousel/0.jpg')}}" alt="Grupo de chicos y chicas con violines">
			</div>
			<div class="carousel-item">
				<img src="{{url_for('static', filename='home/images/carousel/1.jpg')}}" alt="Grupo de chicos y chicas con instrumentos en un prado">
			</div>
			<div class="carousel-item">
				<img src="{{url_for('static', filename='home/images/carousel/2.jpg')}}" alt="Grupo de chicos y chicas tocando sus instrumentos en un escenario">
			</div>
		</div>
	</div>

	<!-- Description -->
	<div class="row p-2 w-100 m-0" id="description-container">
		<div class="col-12 mx-auto d-flex">
			<div class="m-auto text-center">
				<p id="description-content">{{ config.description }}</p>
			</div>
		</div>
	</div>

</div>


