<section class="container-login">
  <h2 class="title-login">Iniciar Sesión</h2>
  <form class="form-login" action="#" method="post">
    <input class="input-login" type="text" name="" value="" placeholder="Usuario">
    <input class="input-login" type="password" name="" value="" placeholder="Contraseña">
    <a class="forgot-password-login small" href="#">¿Olvidaste tu contraseña chaval?</a>
    <button class="button-login btn btn-info btn-sm" type="submit" name="button">Iniciar Sesión</button>
  </form>
</section>
