<section class="container-login">
	<div class="title-login">
		<h2>Iniciar Sesión</h2>
	</div>
	<form class="form-login" action="{{ url_for('login') }}" method="post">

		<div class="form-item-login">
			<label class="small label-login">Usuario</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class="fas fa-envelope"></i></span>
				</div>
				<input class="form-control" type="text" name="username" value="" placeholder="Nombre de Usuario"
					required>
			</div>
		</div>

		<div class="form-item-login">
			<label class="small label-login">Contraseña</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class="fas fa-key"></i></span>
				</div>
				<input class="form-control" type="password" name="password" value="" placeholder="Contraseña" required>
			</div>
			<!-- <a class="forgot-password-login small" href="#" >¿Olvidaste tu contraseña?</a> -->
		</div>
		<button class="btn w-100 py-3" type="submit" name="button" id="button-login">Iniciar Sesión</button>
	</form>
	<div class="title-login">
		<h2>O en cambio</h2>
		<a href="{{ url_for('google.login') }}" class="btn btn-danger btn-block"><i class="fa fa-google"></i> Sign in with <b>Google</b></a>
    </div>

</section>
