{% extends "sections_base.html" %}

{% block style%}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='home/sections.css')}}">
   <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,800,900%7cRaleway:300,400,500,600,700" rel="stylesheet">
   {{ super() }}
{% endblock%}

{% block script %}
   <script type="text/javascript" src="{{url_for('static', filename='home/sections.js')}}"></script>
{% endblock %}

{% block font %}
   <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
{% endblock %}


{% block content %}
	<div id="section-container">
		<section class="services" id="services">
         <div class="container">
            <div class="row">
               <div class="col-xl-6 mx-auto text-center">
                  <div class="section-title mb-100">
                     <h4>Secciones</h4>
                  </div>
               </div>
            </div>
            <div class="row">
               {% for permission in current_user.permissions()|sort(attribute='id') %}
               <div class="col-lg-4 col-md-6 section" id="{{permission.name}}">
                  <!-- Single Service -->
                  <a class="item-url">
                     <div class="single-service">
                        <i class="fa item-icon fas"></i>
                        <h4 class="item-title"></h4>
                     </div>
                  </a>
               </div>
               {% endfor %}
               <div class="col-lg-4 col-md-6 section" id="map">
                  <!-- Single Service -->
                  <a class="item-url">
                     <div class="single-service">
                        <i class="fa item-icon fas"></i>
                        <h4 class="item-title"></h4>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </section>
	</div>
{% endblock %}
