{% extends "sections_base.html" %}

{% block style %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assistance/assistance.css')}}">
{% endblock style %}

{% block script %}
<script text="javascript" src="{{url_for('static', filename='assistance/assistance.js')}}" defer></script>
{% endblock script %}


{% block content %}

<div class="row" id="form-container">
    <div class="col-12 text-center p-2 title">
        <h1>Registro de Asistencias - {{student.last_name}}, {{student.first_name}}</h1>
    </div>
    <div class="col-12 p-4 text-center">
        {% if assistances %}
        <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">CL - Inicio</th>
                        <th scope="col">CL - Fin</th>
                        <th scope="col">Taller</th>
                        <th scope="col">Fecha</th>
                        <th scope="col" class="text-center">¿Asistió?</th>
                        <th class="col-4" scope="col" class="text-center">Observación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assistance in assistances %}
                    <tr class="item-row">
                        <td scope="row" class="first-name">{{ assistance.schoolyear.start_date }}</td>
                        <td scope="row" class="last-name">{{ assistance.schoolyear.finish_date }}</td>
                        <td scope="row" class="last-name">{{ assistance.workshop.name }}</td>
                        <td scope="row" class="last-name">{{ assistance.date }}</td>
                        <td scope="row" class="last-name">{% if assistance.assisted==1 %}Si{% else %}No{% endif %}</td>
                        <td scope="row" class="last-name">{% if assistance.observation!='' %}{{assistance.observation}}{% else %}No hay observaciones.{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>			
        </table>
        {% else %}
        <h2 class="text-center">Este estudiante todavía no registra asistencias en ningún curso.</h2>
        {% endif %}
        <a href="/estudiantes/{{student.id}}"><button class="btn btn-danger mx-2 justify-center white" type="button">Volver</button></a>
    </div>
</div>

{% endblock content %}