{% extends "sections_base.html" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='user/profile.css')}}">
  {{ super() }}
{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      $(document).ready(() => {
            cicle_list=[]
              $.each(cicles, function(index, value){
                $.get({
                  url: `/api/docente/` + {{ academic.id |tojson}} + `/ciclo_taller/` + value,
                  async: false,
                  success: function(response, value) {
                              let json_response = JSON.parse(response);
                              for (var key of Object.keys(json_response)){
                                let item = {
                                      whp_name: json_response[key][0],
                                      whp_short_name: json_response[key][1],
                                      cicle_start_date: json_response[key][2],
                                      whp_id: json_response[key][3],
                                      cicle_finish_date: json_response[key][4],
                                      cicle_id: json_response[key][5]
                                      };
                                cicle_list.push(item);
                              }
                            }
                  })
                });
                replace_workshops(cicle_list);
                console.log('listaza');
                console.log(cicle_list);
                console.log(cicle_list[1].cicle_id); 

      function replace_workshops(cicle_list) {
        let container = $('.select-ciclos');
        console.log('hola');
        if (!cicle_list.length == 0) {
            console.log('entreee')
            container.append(`
            <select name="cicle" id="select-cicles" class="select-cicles form-control style=display:none">
            <option value="" selected disabled hidden>Ciclo</option>
            </select>
            `);
            $('.select-nucleus').show();
          let container_cicle = $('#select-cicles');
          for (var key = 0; key < cicle_list.length; key++) {
              console.log('aca tambieeen');
              container_cicle.append(`
              <option value="${cicle_list[key].cicle_id} - ${cicle_list[key].whp_id}"> ${cicle_list[key].whp_name} - Del ${cicle_list[key].cicle_start_date} al ${cicle_list[key].cicle_finish_date}</option>
              `
            );
          }
        }
        else{
          container.append(`
            <p class=text-danger> No hay talleres asignados para el docente </p>
            `);
        }
      }

      function change_selects(){
        let select_val_cicle_whp = $('#select-cicles').val().split("-");
        let select_val_nucleus = $('#select-nucleus').val();
        console.log('values: ' + select_val_cicle_whp[0] + select_val_cicle_whp[1])
        $('#cicle_value').val(select_val_cicle_whp[0]);
        $('#whp_value').val(select_val_cicle_whp[1]);
        console.log($('#cicle_value').val());
        $.get(`/api/docente/` + {{ academic.id |tojson}} + `/ciclo/${select_val_cicle_whp[0]}/taller/${select_val_cicle_whp[1]}/nucleo/${select_val_nucleus}`, function(response) {
            let json_response = JSON.parse(response);
            replace_days(json_response);
        });
      }

      function replace_days(json_response) {
        console.log('replace');
        let container_days = $('.days-list');
        container_days.empty();
        if (! $.isEmptyObject(json_response)) {
          container_days.append(`
            <select name="day" id="select-days" class="select-days form-control">
            <option value="" selected disabled hidden>Día</option>
            </select>
            `);
          console.log(json_response[0]);
          let container_select = $('.select-days');
          for (var key of Object.keys(json_response)) {
            console.log(key)
            container_select.append(
              `
              <option value="${key}">${json_response[key]}</option>
              ` 
            );
          }
        } else {
          container_days.append(`<p>No hay días disponibles</p>`)
        }
      };


      $('#select-nucleus').change(function(){
        change_selects();
      });

      $('#select-ciclos').change(function(){
        change_selects();
      });


    });

    </script>
    <!-- {% block academic_script %} {% endblock academic_script %} -->
{% endblock script %}

{% block content %}
    <script type="text/javascript">
      var cicles = [{{ cicles|map(attribute='id')|join(',')}}]
    </script>
    <section class="container-fluid profile-information">
        <h1 class="title">Asignar núcleo a {{ academic.last_name }}, {{ academic.first_name }}</h1>

        <form action="{{ url_for('teacher_assign_nucleus', teacher_id=academic.id) }}" method="POST" name="cicle-form">
          <div class="d-flex justify-content-center">
            <div class="row w-75">
              <div class="col select-ciclos">
                
                </select>
              </div>
                  <input type="hidden" id="cicle_value" name="cicle_value" value="">
                  <input type="hidden" id="whp_value" name="whp_value" value="">
              <div class="workshops-list col">
              </div>
            </div>
              <div class="row w-75">
                <div class="div-nucleus">
                  <select name="nucleus" id="select-nucleus" class="select-nucleus form-control" required style="display: none">
                    {% for nucleo in nucleus %}
                      <option value="" selected disabled hidden>Núcleo</option>
                      <option value="{{ nucleo.id }}">{{ nucleo.name }}</option>
                    {%endfor%}
                </select>
                </div>
                </div>
                <div class="row w-75">
                <div class="days-list">                  
                </div>
                </div>

          </div>

          <div class="text-center buttons pt-4">
              <button class="btn btn-success">Guardar</button>
              <a href="{{ url_for('teacher_index') }}">
                  <button class="btn btn-danger" type="button">Cancelar</button>
              </a>
          </div>

        </form>

    </section>
{% endblock %}
