{% extends "sections_base.html" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='user/profile.css')}}">
  {{ super() }}
{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      $(document).ready(() => {

            console.log('hola');
            $.each(cicles, function(index, value){
              $.get(`/api/docente/` + {{ academic.id |tojson}} + `/ciclo_taller/` + value, function(response) {
                let json_response = JSON.parse(response);
                replace_workshops(json_response, value);
                });
            });
           
      function replace_workshops(json_response, cicle) {
        let container = $('.select-ciclos');
        if (! $.isEmptyObject(json_response)) {
          container.append(`<option value="" selected disabled hidden>Seleccione un ciclo lectivo</option>`
            );
          for (var key of Object.keys(json_response)) {
              container.append(`
              <option value="${cicle} - ${ json_response[key][3]}">${json_response[key][0]} - Semestre ${json_response[key][2]}</option>
              `
            );
          }
        } else {
          container.append(`<p>No hay cursos asignados para este docente</p>`);
        }
      }

      $('#select-nucleus').change(function(){
        let select_val_cicle_whp = $('#select-ciclos').val().split("-");
        let select_val_nucleus = $('#select-nucleus').val();
        $('#cicle_value').val(select_val_cicle_whp[0]);
        $('#whp_value').val(select_val_cicle_whp[1]);
        console.log($('#cicle_value').val());
        $.get(`/api/docente/` + {{ academic.id |tojson}} + `/ciclo/${select_val_cicle_whp[0]}/taller/${select_val_cicle_whp[1]}/nucleo/${select_val_nucleus}`, function(response) {
            let json_response = JSON.parse(response);
            replace_days(json_response);
        });
      });

      function replace_days(json_response) {
        console.log('replace');
        let container_days = $('.days-list');
        container_days.empty();
        if (! $.isEmptyObject(json_response)) {
          container_days.append(`
            <select name="day" id="select-days" class="select-days form-control">
            <option value="" selected disabled hidden>Seleccione un día</option>
            </select>
            `);
          console.log(json_response[0]);
          let container_select = $('.select-days');
          for (var key of Object.keys(json_response)) {
            console.log(key)
            container_select.append(
              `
              <option value="${key}">${json_response[key]}</option>
              ` 
            );
          }
        } else {
          container_days.append(`<p>No hay días disponibles</p>`)
        }
      };

    });

    </script>
    {% block academic_script %} {% endblock academic_script %}
{% endblock script %}

{% block content %}
    <script type="text/javascript">
      var cicles = [{{ cicles|map(attribute='id')|join(',')}}]
    </script>
    <section class="container-fluid profile-information">
        <h1 class="title">Asignar núcleo a {{ academic.last_name }}, {{ academic.first_name }}</h1>

        <form action="{% block form_action %} {% endblock form_action %}" method="POST" name="cicle-form">
          <div class="d-flex justify-content-center">
            <div class="row w-75">

              <div class="col">

                <select name="cicle" id="select-ciclos" class="select-ciclos form-control" required>
                  <option value="" selected disabled hidden>Seleccione un ciclo lectivo</option>
                </select>
              </div>
                  <input type="hidden" id="cicle_value" name="cicle_value" value="">
                  <input type="hidden" id="whp_value" name="whp_value" value="">

              <div class="workshops-list col">
              </div>
            </div>
              <div class="row w-75">
                <div class="div-nucleus">
                  <select name="nucleus" id="select-nucleus" class="select-nucleus form-control" required>
                    {% for nucleo in nucleus %}
                      <option value="" selected disabled hidden>Seleccione un núcleo</option>
                      <option value="{{ nucleo.id }}">{{ nucleo.name }}</option>
                    {%endfor%}
                </select>
                </div>
                </div>
                <div class="row w-75">
                <div class="days-list">                  
                </div>
                </div>

          </div>

          <div class="text-center buttons pt-4">
              <button class="btn btn-success">Guardar</button>
              <a href="{% block cancel_url %} {% endblock cancel_url %}">
                  <button class="btn btn-danger" type="button">Cancelar</button>
              </a>
          </div>

        </form>

    </section>
{% endblock %}