{% extends "academic/assign_workshop_base.html" %}


{% block academic_script %}
    <script charset="utf-8">
        $(document).ready(() => {

          $('#select-ciclos').change(function(){
            let select_val = $('#select-ciclos').val()
            // no encontré una mejor forma de armar esta url, la dejo para la posteridad
            $.get(`/api/docente/` + {{ academic.id |tojson}} + `/ciclo/${select_val}`, function(response) {
                let json_response = JSON.parse(response);
                replace_workshops(json_response);
            });
          });

        });
    </script>
{% endblock academic_script %}

{% block form_action %}
  {{ url_for('teacher_assign', teacher_id=academic.id) }}
{% endblock form_action %}

{% block cancel_url %}
  {{ url_for('teacher_index') if current_user.has_permission('teacher_index') else url_for('home')}}
{% endblock cancel_url %}
