{% extends "academic/new.html" %}

{% block script %}
{{super()}}
<script text="javascript" src="{{url_for('static', filename='teacher/map.js')}}"></script>
{% endblock %}

{% block form_title %}
Crear docente
{% endblock %}

{% block post_url %}
{{ url_for('teacher_new') }}
{% endblock %}

{% block fields %}
    {{ super() }}

    {% block extra_fields %}
    <div class="form-group">
        <label for="map">Ubicación</label>
        <div id="map"></div>
        <input id="lat" type="hidden" name="latitude" value="">
        <input id="lng" type="hidden" name="longitude" value="">
    </div>
    {% endblock %}
{% endblock %}