{% extends "academic/profile.html" %}

{% block extra_content %}

    <h4 id="workshops" class="my-4"><a class="title subtitle" href="{{ url_for('teacher_workshops', teacher_id=user.id) }}">Listado de talleres asignados</a></h4>

{% endblock %}


{% block buttons %}
    {% if current_user.has_permission('user_index') %}
        <a class="white-button" id="user-list-button" href="{{url_for('teacher_index')}}">
          <i class="fa fa-list"></i> Volver al Listado
        </a>
    {% endif %}
{% endblock buttons %}
