{% extends "academic/profile.html" %}

{% block buttons %}
        <a class="white-button mr-2" id="teacher-list-button" href="{{ url_for('teacher_workshops', teacher_id=user.id) }}">
          <i class="fa fa-list"></i> Listado de talleres
        </a>
    {% if current_user.has_permission('teacher_index') %}
        <a class="white-button" id="user-list-button" href="{{url_for('teacher_index')}}">
          <i class="fa fa-list"></i> Listado de docentes
        </a>
    {% endif %}
{% endblock buttons %}
