#right-container {
  background-color: #fafafa;
}

#button-login {
  background-color: #1a91a1;
  color: white;
}

#button-login:hover {
  background-color: white;
  border: 1px solid #1a91a1;
  color: black;
}

.container-login {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
  flex-direction: column;
  color: black;
  font-family: Quicksand;
}

.title-login {
  width: 55%;
  text-align: center;
  background-color: white;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  box-shadow: 0px 0px 1px black;
  padding-top: 10px;
}

.form-item-login {
  margin-bottom: 1em;
}

.form-login {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  background-color: white;
  padding: 1em;
  box-shadow: 0px 0px 1px black;
}

.forgot-password-login {
  color: black;
  transition: color 0.3s;
}

.forgot-password-login:hover {
  color: #1a91a1;
}

.form-item-login {
  width: 100%;
}

.label-login {
  width: 100%;
  margin-bottom: 0px;
  padding-left: 4px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-top: 1px solid #1a91a1;
  border-left: 1px solid #1a91a1;
  border-right: 1px solid #1a91a1;
  text-align: center;
  font-size: 1em;
}
